<div class="content">

<div class="total-detail-container">
  <div class="column">
    <div class="card" style="width: 18rem;">
      <img
        src="{{bird.image}}"
        class="card-img-top"
        alt="{{bird.name}}"
        width="600"
        style="border-radius: 1rem"
      />
      <div class="card-body">
        <h3 class="card-title">Nombre: {{bird.name}}</h3>
        <h4 class="card-title">Nombre científico: {{bird.scifyName}}</h4>
        <p class="card-text">{{bird.comment}}</p>
        <p class="card-text">Peso: {{bird.weight}}</p>
        <p class="card-text">Tamaño: {{bird.size}}</p>
        <p class="card-text">Envergadura: {{bird.wingspan}}</p>
        <p class="card-text">Longevidad: {{bird.longevity}}</p>
      </div>
    </div>
    <a class="volver-al-listado"href="/birdslist">Volver al listado</a>
  </div>


<div class="detail-total-container ">
    <section class="galery-container ">
        {{#each bird.albums as |album|}}
        <div class="card rounded" style="width: 18rem; padding-left: 1rem; padding-right: 1rem">
              <a href="/albums/{{album._id}}"><img
                  src="{{album.url}}"
                  class="card-img-top mt-4 "
                  alt="{{album.bird.name}}"
                  width="600"/>
             </a>
              <div class="card-body">
                <h3 class="card-title">{{album.bird.name}}</h3>

              </div>
            </div>
        {{/each}}
    </section>

    <section class="comment">
        <form class="form-floating" action="/comments/{{bird.id}}" method="post">
        <textarea
          class="form-control"
          name="annotation"
          placeholder="Deja un comentario aquí."
          id="floatingTextarea"
          style="width:250%"
        ></textarea>
        <label for="floatingTextarea">Comentario</label>
        <button type="submit">Enviar</button>
      </form>

      
            {{#each bird.annotations as |comment| }}
            <div class="chat">
            <s class="chat-user">{{comment.user.name}}:</s>
            <p class="annotation">{{comment.annotation}}</p>
              </div>
            {{/each}}
    
    </section>


</div>
</div>