<div class="content">
<div class="row justify-content-center mt-4">
  <div class="col col-sm-8 col-md-6 col-lg-4">
    <h1 class="my-4">Añade una especie</h1>

    <form action="/birds/birdCreate" method="post" class=""enctype="multipart/form-data">
      <div class="input-group mb-2">
        <input
          type="text"
          name="name"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Nombre"
          aria-label="Bird name"
          value="{{ bird.name }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="input-group mb-2">
        <input
          type="text"
          name="scifyName"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Nombre científico"
          aria-label="Scientific Name"
          value="{{ bird.scifyName }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="input-group mb-2">
        <input
          type="text"
          name="comment"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Comentario"
          aria-label="Comment"
          value="{{ bird.comment }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="input-group mb-2">
        <input
          type="text"
          name="weight"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Peso"
          aria-label="Weight"
          value="{{ bird.weight }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
     <div class="input-group mb-2">
        <input
          type="text"
          name="size"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Tamaño"
          aria-label="Size"
          value="{{ bird.size }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
       <div class="input-group mb-2">
        <input
          type="text"
          name="wingspam"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Envergadura"
          aria-label="Wingspam"
          value="{{ bird.wingspan }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="input-group mb-2">
        <input
          type="text"
          name="longevity"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Longevidad"
          aria-label="longevity"
          value="{{ bird.longevity }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
        
     <div class="mb-3">
        <label for="formFile" class="form-label">Añade foto de perfil del ave</label>
        <input class="form-control" type="file" id="formFile" name="image">
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
     </div>
      <div class="input-group mb-2">
        <button type="submit" class="btn btn-primary bg-light-green border-0">Añadir Ave</button>
      </div>
      <s style="text-decoration: none;">* Todo el material subido, será revisado por el administrador.</s>
    </form>
  </div>
</div>
</div>