
<h1>Detalle {{bird._id}}</h1>

 
<div class="detail-total">
    <div class="card" style="width: 18rem;">
      
      <div class="card-body">
        <h3 class="card-title mt-4">{{bird.name}}</h3>
        <h4 class="card-title mt-4">{{bird.scifyName}}</h4>
        <p class="card-text mt-4">{{bird.comment}}</p>

        <a href="/birds/birdDetailTotal" class="btn btn-primary mb-4 ">Ver más detalles y Galería de Imágenes</a>
        <a href="/birds/list" >Volver al listado</a>
      </div>
    </div>
    <div>
      <img
        src="{{bird.image}}"
        class="card-img-top"
        alt="{{bird.name}}"
        width="600"
        style="border-radius: 1rem"
      />
    </div>
 </div>

