<h1>Detalle {{bird.name}}</h1>

<div class="total-detail-container">
  <div class="column">
    <div class="card" style="width: 18rem;">
      <img
        src="{{bird.image}}"
        class="card-img-top"
        alt="{{bird.name}}"
        width="600"
        style="border-radius: 1rem"
      />
      <div class="card-body">
        <h3 class="card-title">Nombre: {{bird.name}}</h3>
        <h4 class="card-title">Nombre científico: {{bird.scifyName}}</h4>
        <p class="card-text">{{bird.comment}}</p>
        <p class="card-text">Peso: {{bird.weight}}</p>
        <p class="card-text">Tamaño: {{bird.size}}</p>
        <p class="card-text">Envergadura: {{bird.wingspan}}</p>
        <p class="card-text">Longevidad: {{bird.longevity}}</p>
      </div>
    </div>
    <a class="volver-al-listado"href="/birdslist">Volver al listado</a>
  </div>
  <div class="galery-container">
    <h2 class="title-galery">Galería de imágenes</h2>
    <div>
  
  </div>
</div>

<section class="comment">
    <form class="form-floating" action="/comments/{{bird.id}}" method="post">
    <textarea
      class="form-control"
      name="annotation"
      placeholder="Deja un comentario aquí."
      id="floatingTextarea"
    ></textarea>
    <label for="floatingTextarea">Comentario</label>
    <button type="submit">Enviar</button>
  </form>
</section>

{{#each bird.annotations as |comment| }}
<h2>{{comment.user.name}}</h2>
  <p>{{comment.annotation}}</p>

{{/each}}
