
<h1>Detalle {{bird.name}}</h1>

 
<div class="detail-total">
    <div class="card" style="width: 18rem;">
      
      <div class="card-body">
        <h3 class="card-title mt-4">{{bird.name}}</h3>
        <h4 class="card-title mt-4">{{bird.scifyName}}</h4>
        <p class="card-text mt-4">{{bird.comment}}</p>

        <a href="/bird/{{bird._id}}/total" class="btn btn-primary mb-4 ">Ver más detalles y Galería de Imágenes</br>
          <s class="small mt-4">(Necesitas estar registrado)</s>
          </br>
        </a>
        
        <a href="/birdslist" >Volver al listado</a>
      </div>
    </div>
    <div>
      <img
        src="{{bird.image}}"
        class="card-img-top"
        alt="{{bird.name}}"
        style="border-radius: 1rem; max-width: 65rem"
      />
    </div>
 </div>

