

    <div class="container">
      <div class="row">
        <div class="col text-center mt-4">
          <img
          src={{currentUser.image}}
          class="rounded-circle border border-3 m-4"
          width="200"
          alt={{currentUser.name}}
          referrerpolicy="no-referrer"
          />
        <h2>Hi {{currentUser.name}}, bienvenido a tu perfil!</h2>
        <hr class="my-4" />
        <a
          href="/birds/birdCreate"
          class="btn btn-primary bg-light-green border-0"
        >A침ade una nueva especie</a>
        <a
          href="/albums/albumCreate"
          class="btn btn-primary bg-light-green border-0"
        >Crea un 치lbum</a>
        
      {{#if currentUser.isAdmin === true }}

      <a href="/users/adminForm.hbs"  class="btn btn-primary bg-light-green border-0"
      >A침ade publicaci칩n diaria</a>
      {{/if}}

      </div>



      <div class="galery-container">
        <h2 class="title-galery">Mis albums</h2>
        

        {{#each albums as |album| }}

                 <div class="card rounded" style="width: 18rem">
                  <a href="/albums/albumDetail"><img
                  src="{{album.url}}"
                   class="card-img-top mt-4  rounded-circle"
                   alt="caca"
                   width="600"
                 />
                 
                  </a>
                   <div class="card-body">
                   <h3 class="card-title">{{album.bird.name}}</h3>
        
                  </div>
                </div>
   
                {{/each}}
              </div>
      </div>
  </div>
  
