<div class="content">
<h2>Album</h2>
  

<div class="backcontainer row row-cols-4">



{{#each album.photos as |photo| }}

    <div class="card rounded" style="width: 18rem;">
      {{#if photo}}
     <a  
     class="borrar btn" data-id="{{photo._id}}"><img src="https://res.cloudinary.com/merjur/image/upload/v1663017361/birdApp/aspa_etothg.jpg" alt="aspa" style="max-width:2rem"></a>

        <img src="{{photo.url}}"
        class="card-img-top mt-4  "
        alt="{{photo._id}}"
        width="600"
      />
    </div>

     <form action="/albums/{{album._id}}/deletePhoto" method="POST">  {{!mirar el action de este formulario}}
      <button type="submit" class="btn btn-danger">Borrar</button>
    </form>

  {{/if}}

{{/each}}
</div>

<a href="/albums/{{album._id}}/addPhoto"
     class="btn btn-primary bg-light-green border-0"
     >Añade una foto</a>

</div>
</div>
